.dots-pattern {
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.05) 5%,
      transparent 5%
    ),
    radial-gradient(circle, rgba(0, 0, 0, 0.05) 15%, transparent 5%);
  background-size: 10px 10px;
}

.dragging {
  opacity: 0.5;
}

.dropzone {
  border: 2px dashed #675ffc;
}

.react-flow__panel {
  display: none;
}
