.layout {
    height: 768px;
    display: grid;
    grid:
        "header" auto
        "main" 1fr
        "contact_info" auto
        "footer" auto
        / 1fr;
    gap: 8px;
}
  
.header {
    grid-area: header;
    background-color: aqua;
}
.main {
    grid-area: main;
    background-color:aquamarine;
}
.contact_info {
    grid-area: contact_info;
    background-color:bisque;
}
.footer {
    grid-area: footer;
    background-color: aqua;
}